<h5><i><%=link_to @post.title, @post.url %> </h5></i> </br>

<p>
	

<h4> comments <%=@post.comments.size %></h4>
<p>
<ul>
	<%@post.comments.each do |comment| %>

		<li>
			<%=comment.content%> 
		</li>


 <% end %>

 </ul>
<hr>
   
 

<%=form_for  [@post, @comment] do |c| %>
	<%if @comment.valid? %> 
		<div class=alert alert-errors>
			<%=@comment.errors.full_messages%>
		</div>	

	<% end %>
 
<%=c.label :content, "COMMENT" %>
<%=c.text_area :content, :size => "5x2" %></br>
<%=c.submit "LEAVE  COMMENT" %>
<% end %>
	

	